In [6]:
import pandas as pd

df = pd.read_csv('google.csv')

display(df.head())

print("Colunas encontradas:", df.columns.tolist())

         date      open      high       low     close  adj_close     volume
0  2004-08-19  2.492180  2.511011  2.604104  2.401401   2.502503  893181924
1  2004-08-20  2.690134  2.710460  2.729730  2.515015   2.527778  456686856
2  2004-08-23  2.717207  2.737738  2.839840  2.728979   2.771522  365122512
3  2004-08-24  2.604694  2.624374  2.792793  2.591842   2.783784  304946748
4  2004-08-25  2.632761  2.652653  2.702703  2.599600   2.626627  183772044

Colunas encontradas: ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']